# System files
.idea/
DS_Store
Thumbs.db

# Compiled output
client/dist
client/tmp
client/out-tsc
client/bazel-out
client/package-lock.json

# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log

# Miscellaneous
client/.angular/cache
client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
client/testem.log
client/typings

resource-server/front/dist
resource-server/front/tmp
resource-server/front/out-tsc
resource-server/front/bazel-out
resource-server/front/package-lock.json

resource-server/front/node_modules
resource-server/front/npm-debug.log
resource-server/front/yarn-error.log

resource-server/front/.angular/cache
resource-server/front/.sass-cache/
resource-server/front/connect.lock
resource-server/front/coverage
resource-server/front/libpeerconnection.log
resource-server/front/testem.log
resource-server/front/typings

# compiled output
authorization-server/dist
authorization-server/node_modules
authorization-server/package-lock.json

# Logs
authorization-server/logs
authorization-server/*.log
authorization-server/npm-debug.log*
authorization-server/pnpm-debug.log*
authorization-server/yarn-debug.log*
authorization-server/yarn-error.log*
authorization-server/lerna-debug.log*

# Tests
authorization-server/coverage
authorization-server/.nyc_output
